<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        
    
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CustomLight.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    
<userSettings>
        <CustomLight.Properties.Settings>
                <setting name="RunStartup" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="RunBackground" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="CurrentColor" serializeAs="String">
                        <value />
                </setting>
                <setting name="CurrentSpeed" serializeAs="String">
                        <value>2</value>
                </setting>
                <setting name="CurrentMode" serializeAs="String">
                        <value>Static</value>
                </setting>
                <setting name="CurrentAnimationMode" serializeAs="String">
                        <value />
                </setting>
                <setting name="CurrentAnimationColor" serializeAs="String">
                        <value />
                </setting>
        </CustomLight.Properties.Settings>
    </userSettings>
</configuration>